<div class="info-container-2">
  <div>Domoking</div>
  <img class="img-info" src="../../../../assets/img/key-removebg-preview.png" alt="">
  <p>
    Vous pouvez contrôler à distance vos portes et fenêtres, les lumières de votre maison, gérer des métriques comme la
    température et l'humidité, la ventilation et bien d'autres fonctionnalités.
    Parce que votre sécurité est importante pour nous, nous avons mis en place un système d'alarme dans votre maison
    permettant de gérer les entrées et sorties de votre foyer.
  </p>
  <div class="white-space"></div>
  <div class="info-next-btn" (click)="dismiss()">Fermer</div>
</div>