<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-align" id="app-logo">
      Domoking App
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="start">
        <ion-button routerLink="/energy">
          <ion-icon name="bar-chart-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>