<ion-content>
  <div class="info-container" [ngClass]="{'first-bg' : step === 'first', 'second-bg' : step === 'second', 'third-bg' : step === 'third'}">
    <div class="info-container-2" *ngIf="step === 'first'">
      <div>Domoking</div>
      <img class="img-info" src="../../../../assets/img/house-removebg-preview.png" alt="">
      <p>
        Bienvenue chez Domoking ! Nous tenons tout d'abord à vous féliciter pour l'acquisition de votre maison Domoking.
        Vous avez fait le choix de piloter votre foyer de façon intelligente et nous vous remercions de croire en nous.
        Vous verrez Domoking deviendra un membre à part entière de votre famille !
      </p>
      <div class="white-space"></div>
      <div class="btn-container-info">
        <div class="info-next-btn" (click)="change('second')">Suivant</div>
        <div class="info-ignore-btn" (click)="dismiss()">Ignorer</div>
      </div>
    </div>
    <app-second (newItemEvent)="change($event)" *ngIf="step === 'second'"></app-second>
    <app-third *ngIf="step === 'third'"></app-third>
  </div>
</ion-content>