.header-container{
  padding: 0 16px;
}

.item-container{
  display: flex;
  overflow-x: auto;
  padding: 0 16px;
}

.item{
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.item .item-text {
  font-size: 70%;
  text-align: center;
}

.btn-item {
  background-color: var(--white);
  width: 80px;
  height: 80px;
  border: 1px solid var(--grey);
  border-radius: 15px;
  margin: 5px;
}

.btn-temprature-humidity{ background: center / 50% url('../../assets/icon/d-item/temperature.png') no-repeat;}
.btn-temprature-humidity.active{background: center / 50% url('../../assets/icon/w-item/temperature.png') no-repeat, var(--dark);}

.btn-door-window{ background: center / 50% url('../../assets/icon/d-item/window.png') no-repeat;}
.btn-door-window.active{background: center / 50% url('../../assets/icon/w-item/window.png') no-repeat, var(--dark);}

.btn-light{ background: center / 50% url('../../assets/icon/d-item/idea.png') no-repeat;}
.btn-light.active{background: center / 50% url('../../assets/icon/w-item/idea.png') no-repeat, var(--dark);}

.btn-air-conditioning{ background: center / 50% url('../../assets/icon/d-item/air-conditioner.png') no-repeat;}
.btn-air-conditioning.active{background: center / 50% url('../../assets/icon/w-item/air-conditioner.png') no-repeat, var(--dark);}